* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  width: 100%;
  padding: 0.5rem;
}

header nav {
  padding: 0.7rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  text-decoration: none;
  font: 0.9rem 'Arial', sans-serif;
  color: #000;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:nth-child(3) {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle();
  position: relative;
}

header nav a:nth-child(3):hover {
  background: hsl(0, 0%, 95%);
}

header nav a.button-actived,
header nav a.button-actived:hover {
  background: hsl(0, 0%, 85%);
}

header button {
  padding: 0.5rem 1rem;
  font: 0.9rem 'Arial', sans-serif;
  background: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

header button:hover {
  background: hsl(214, 82%, 55%);
  box-shadow: 0 0 1px 0 hsl(214, 82%, 55%);
}

.apps-google {
  display: none;
}

.apps-google.box-actived {
  width: 309px;
  display: block;
  position: absolute;
  z-index: 999;
  right: 1%;
}

.box-apps {
  height: 400px;
  background: #fff;
  padding-top: 1rem;
  padding-left: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px 0 hsl(0deg 0% 50%);
  overflow-y: scroll;
}

.box-apps::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.box-apps::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: hsl(0, 0%, 85%);
}

.apps {
  width: 85px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  cursor: pointer;
}

.apps:hover {
  background: hsl(218, 92%, 95%);
  border-radius: 0.5rem;
}

.apps img {
  width: 90%;
}

.apps p {
  font: 0.9rem 'Arial', sans-serif;
  text-align: center;
}

.box-apps button {
  width: 115.05px;
  height: 32px;
  font: 0.9rem 'Arial', sans-serif;
  background: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  grid-template-columns: 7/8;
}

section {
  width: 100%;
}

section > h1 {
  display: none;
}

section .img-google {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

.search {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.search label {
  display: none;
}

.search .input {
  width: 100%;
  height: 2.7rem;
  border-radius: 2rem;
  border: 1px hsl(0, 0%, 83%) solid;
  font: 1.2rem 'arial', sans-serif;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.search .input:hover {
  box-shadow: 0 0 6px 0 hsl(0, 0%, 83%);
}

.input input {
  width: 90%;
  height: 85%;
  font: 1rem 'Arial', sans-serif;
  border: none;
}

.input img {
  width: 25px;
  cursor: pointer;
}

.input img#icon-search {
  width: 22px;
  opacity: 0.8;
  cursor: default;
}

.input .clear {
  display: none;
}

.input .clear.box-actived {
  display: block;
  width: calc(25px + 1rem);
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid hsl(0, 0%, 83%);
}

.search input:focus {
  outline: none;
}

.btns {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.btns button {
  padding: 0.5rem 1rem;
  font: 0.9rem 'Arial', sans-serif;
  background: hsl(0, 0%, 97%);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btns button:hover {
  padding: 0.45rem 0.94rem;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.2rem;
  box-shadow: 0 1px 0 0 hsl(0, 0%, 83%);
}

/* SPACE-BETWEEN */
.space-between {
  height: 15.15rem;
}

footer {
  background: hsl(0, 0%, 97%);
}

.country,
footer nav {
  font: 0.9rem 'Arial', sans-serif;
  color: #70757a;
}

.country {
  border-bottom: 1px solid hsl(0, 0%, 83%);
  padding: 1rem 2rem;
}

footer nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.nav.section1,
.nav.section2 {
  display: flex;
  gap: 1.7rem;
}

.nav.section1 a,
.nav.section2 a {
  padding: 1rem 0;
  text-decoration: none;
  color: #70757a;
}

.nav.section1 a:hover,
.nav.section2 a:hover {
  text-decoration: underline;
}

.nav.section1 a:first-child {
  margin-left: 0.3rem;
}

@media (max-width: 795px) {
  .space-between {
    height: 12.15rem;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
